@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}

body {
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: black;
}

canvas {
    width: 100%;
    height: 100%;
    max-width: 177.78dvh;
    max-height: 56.25vw;
    background-color: rgb(164, 211, 238);
    image-rendering: pixelated;
    display: block;
}